*,html {
    margin: 0;
    padding: 0;
}
body{
}
#gambarpartai {
    margin:5px 0 0 10px;
    height: 160px;
    width: 130px;
    border-radius: 10px;
    border-width: 2px;
    border-style: solid;
    border-color: black;
    float: left;
    float: bottom;
    font-family: sans-serif;
}

.partai{
    text-shadow: 2px 2px 5px red;
    margin: 10px 0 6px 145px;
    font-family: sans-serif;
}

#pdip{
    
}

#golkar{

}

#gerindra{

}


.jarak {
    margin: 0 0 0 10px;
    float:left;
    font-family: sans-serif;
}
#pilih{
    margin-left: 10px;
    margin-bottom: 10px;
    
}

#refresh {
margin-left: 10px;
margin-bottom: 10px;
}

h3{
    font-family: sans-serif;
}

#tampil{
    margin-top: 5px;
    cursor: pointer;
    
}

#submit{
    cursor: pointer;
    margin-top: 5px;

}

.masukan-text{
    margin:10px 0px 20px 10px;
}

.tebakan{
    margin:10px 0px 0px 10px;
}